body {
    margin: auto;
    font-family: sans-serif;
    background: rgb(30, 31, 47);
    opacity: 1;
    color: white;
    background-size: cover;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
    color: white;
}

.nav-link-text {
    color: #DDD;
    text-decoration: none;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
}

.container {
    /* Layout Properties */
    /* UI Properties */
    /*background: #1E1F2F 0% 0% no-repeat padding-box;*/
    /*background: rgb(30, 31, 47);
    background: linear-gradient(180deg, rgba(30, 31, 47, 1) 0%, rgba(30, 31, 47, 1) 29%, rgba(31, 100, 179, 1) 100%);*/
    opacity: 1;
}

.navbar {
    height: 10vh;
    background: #A199A6 0% 0% no-repeat padding-box;
    border-bottom: .5vh solid #413a3f;
    font-family: calendula, sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-left: 2vw;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 1vw;
    font-family: sans-serif;
    margin: .5vw 0;
    font-size: 3vh;
}

.link {
    border-radius: .5vw;
    margin: 0 1vh;
    display: flex;
    align-items: center;
    background-color: #36497E;
    padding: 0 .5vh;
    color: #e0e0e0;
}

.body {
    margin: 5vw 4vw;
    padding: 2vw;
    border-radius: 2vw;
    opacity: 1;
    color: white;
    display: flex;
}